%head
  %title "Pivot Pong"
%body
  %h1 Welcome to Pivot Pong
  .rankings
    %h2 Rankings
    %ol
      - @ranking.each do |player|
        %li= player

  .matchup
    %h2 Enter a match result
    %p
      %form{:action => "add-match", :method => "post"}
        %fieldset
          %p
            %label{:for => "winner"} Winner:
            %input{:type => "text", :name => "winner", :class => "text"}
          %p
            %label{:for => "loser"} Loser:
            %input{:type => "text", :name => "loser", :class => "text"}
        %input{:type => "submit", :value => "Send", :class => "button"}

  .rules
    %h2 Rules
    %p Games are to 11 points. Alternate serve after 2 pts. Winner must win by 2pts (e.g., 11-10 does not win, 12-10 does).
    %p Matches are best of 3 games.
    %p Record the winner of a match below.

  .doubles
    %h2 Doubles rankings are coming soon.

