body {
  background: #CCC;
  color: #111;
  font-family: Arial, sans;
  margin: 2%;
}

a {
  font-size: 11px;
  text-decoration: none;
  color: #888;

}

h1 {
  text-align: center;
  font-size: 24px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

label {
  width: 60px;
  display: block;
  float: left;
}

.content {
  background: #EEE;
  width: 90%;
  padding: 20px;
  margin: auto;
}

.rankings ol {
  padding-left: 40px;
  font-size: 18px;
  list-style-type: decimal;
}

.algorithm {
  margin-top: 10px;
  text-align: center;
}

li {
  padding-top: 4px;
}
